@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
:root {
	--color-accent: #ef5350;
	--color-white: white;
	--color-neutral-grey-200: #eeeeee;
	--color-neutral-grey-400: #bdbdbd;
	--color-neutral-grey-600: #757575;
	--color-neutral-grey-800: #424242;
	--color-neutral-grey-900: #212121;

	--color-ooa-monotone-1: #d6d8de;
	--color-ooa-monotone-2: #a2a5af;
	--color-ooa-monotone-3: #333740;
	--color-ooa-monotone-4: #1c1d20;
	--color-ooa-monotone-5: #0e0e0e;

	--color-alert: rgb(200, 8, 8);
	--color-inform: green;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;

	font-size: 1rem;
	color: var(--color-neutral-grey-900);
	background-color: var(--color-neutral-grey-200);
	overflow-x: hidden;
	accent-color: var(--color-accent);
}

.main-wrapper {
	width: 100vw; /*100%로 하면 기준이 되는 parent가 아직 없기때문에 변동이 심함 */
	display: flex;
	flex-direction: column;
	min-width: 375px;
}
section[class$='__page-container'] {
	z-index: 0;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
	overflow-x: hidden;
}
div[class$='sub-wrapper'] {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

a:link,
a:visited {
	color: var(--color-neutral-grey-900);
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	color: var(--color-neutral-grey-400);
	transition: 0.05s ease-in-out;
}

[class$='image__holder'] {
	width: 100%;
	aspect-ratio: 3/4;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	/* overflow: hidden으로 하면 디테일 페이지에서 다른 사진들이 보이지 않는 문제 발생 */
}
[class$='image__holder'] img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}
[class$='text__holder'] {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.75rem;
	line-height: 150%;
}
[class$='form__holder'] {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
/* -- General UI - button --------------------------------------------------- */

[class*='button'] {
	color: var(--color-neutral-grey-900);
	border: none;
	background-color: transparent;
}
[class*='button']:hover {
	cursor: pointer;
	color: var(--color-neutral-grey-400);
	transition: 0.05s ease-in-out;
}

button[class*='solid'] {
	width: 100%;
	border: 1px solid var(--color-neutral-grey-900);
	padding: 0.75rem;
	margin: 0.25rem 0;
	border-radius: 1.5rem;
	color: var(--color-white);
	background-color: var(--color-neutral-grey-900);
}
button[class*='outline']:hover,
button[class*='solid']:hover {
	background-color: var(--color-accent);

	color: var(--color-white);
	transition: 0.05s ease-in-out;
}
button[class*='outline'] {
	width: 100%;
	border: 1px solid var(--color-neutral-grey-900);
	padding: 0.75rem;
	margin: 0.25rem 0;
	border-radius: 1.5rem;
}

/* -- General UI - alert & inform --------------------------------------------------- */

[class^='alert'] {
	font-size: 0.9rem;
	color: var(--color-alert);
	text-align: center;
}
[class^='inform'] {
	font-size: 0.9rem;
	color: var(--color-inform);
	text-align: center;
}

/* -- Navbar --------------------------------------------------- */
nav.menu__container [class*='icon'] {
	color: var(--color-neutral-grey-800);
}

nav.menu__container {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;

	justify-content: space-between;
	align-items: center;

	padding: 1rem;
	/* margin-bottom: 1rem; */
	border-bottom: 1px solid var(--color-neutral-grey-900);
	background-color: var(--color-neutral-grey-200);
}

nav.menu__container #ooa-logo {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 50px;
	object-fit: cover;
}
nav.menu__container .navbar-menu ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
	gap: 1rem;
}
nav.menu__container .sidemenu.button {
	color: var(--color-neutral-grey-900);
	font-size: 1.5rem;
	padding-top: 6px;
}

/* -- Navbar - User --------------------------------------------------- */
nav.menu__container .user-info {
	display: flex;
	align-items: center;
	gap: 1rem;
}
nav.menu__container .user-photo {
	width: 20px;
	height: 20px;
	border-radius: 100%;
}
/* -- Navbar - Cart Icon --------------------------------------------------- */
nav.menu__container .cart-icon__part {
	height: 22px;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	width: fit-content;
	background-color: var(--color-neutral-grey-900);
	border-radius: 1rem;
	padding: 0.1rem 0.5rem;
	gap: 0.2rem;
}
nav.menu__container .cart-icon {
	display: flex;
	align-items: center;
	color: var(--color-neutral-grey-200);
}
nav.menu__container .cart-icon:hover {
	color: var(--color-neutral-grey-400);
	transition: 0.1s ease-in-out;
}

nav.menu__container .cart-badge {
	color: var(--color-white);

	font-size: 0.7rem;
	font-weight: 400;
	text-align: center;
}

/* -- Navbar -side-nav --------------------------------------------------- */
.side-nav {
	height: 100vh;
	display: flex;
	width: 0;
	position: fixed;
	z-index: 5;
	top: 0;
	right: 0;
	background-color: var(--color-white);
	overflow-x: hidden;
	transition: 0.2s ease-in-out;
}
.side-nav ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	justify-content: space-between;
	list-style-type: none;
}
.side-nav ul li {
	padding: 1rem 0;
}
.sidemenu.close.button {
	display: flex;
	margin-left: auto;
	/* border: none;
	background-color: transparent; */
}
.side-nav .auth-area {
	padding-bottom: 2rem;
}

.side-nav .button.special {
	font-size: 1rem;
	color: var(--color-accent);
	border: none;
	background-color: transparent;
}
.side-nav .button.icon {
	font-size: 1.2rem;
}

/* -- Banner --------------------------------------------------- */
.landing-banner {
	width: 100%;
	display: flex;
	padding-bottom: 3rem;
}
.landing-banner img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: top;
}
/* -- Outlet --------------------------------------------------- */
.page-title {
	width: 100%;
	padding: 2rem 1rem;
	/* margin-bottom: 2rem; */

	font-size: 1rem;

	text-transform: uppercase;
	text-align: left;
	font-weight: 400;
	border-bottom: 1px solid var(--color-neutral-grey-400);
}
/* -- Footer --------------------------------------------------- */
footer {
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--color-neutral-grey-900);
	left: 0;
	bottom: 0;
	padding: 2rem 1rem;
	color: var(--color-neutral-grey-900);
}
footer ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	list-style-type: none;
	font-size: 0.7rem;
	line-height: 150%;
}

/* ----- Media Queries ------------------------------------------- */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
	div[class$='sub-wrapper'] {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
	}
	footer ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1.5rem;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.main-wrapper {
		width: 60vw;
		max-width: 1200px;
	}
	div[class$='sub-wrapper'] {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
	}
}

@media (min-width: 1400px) {
}
