@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/***
This file contains the general CSS styling, including:

* General Body and Global CSS: Base styles for the entire application.
* Navbar: Styling for the navigation bar.
* General Outlet: Shared styles for outlet components.
* General Media Queries: Responsive styles for different screen sizes.

I have separated the CSS styling for each page into the following files:

- Location: app/styles/

* style-addnew.css
* style-all-products.css
* style-product-detail.css

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
:root {
	--color-accent: #ef5350;
	--color-white: white;
	--color-neutral-grey-200: #eeeeee;
	--color-neutral-grey-400: #bdbdbd;
	--color-neutral-grey-600: #757575;
	--color-neutral-grey-800: #424242;
	--color-neutral-grey-900: #212121;

	--color-ooa-monotone-1: #d6d8de;
	--color-ooa-monotone-2: #a2a5af;
	--color-ooa-monotone-3: #333740;
	--color-ooa-monotone-4: #1c1d20;
	--color-ooa-monotone-5: #0e0e0e;
}
body {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	font-size: 1rem;
	color: var(--color-neutral-grey-900);
	background-color: var(--color-neutral-grey-200);
	overflow-x: hidden;
}
main {
	width: 60vw;
	max-width: 1000px;
	min-width: 400px;
	margin: auto;
}

a:link,
a:visited {
	color: var(--color-neutral-grey-900);
	text-decoration: none;
}
/* -- Navbar --------------------------------------------------- */
nav {
	display: flex;
	flex-direction: row;
	position: sticky;
	left: 0;
	top: 0;

	justify-content: space-between;
	align-items: center;

	padding: 1rem 0;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--color-neutral-grey-900);
	background-color: var(--color-neutral-grey-200);
}
nav .logo img {
	cursor: pointer;
	width: 50px;
	height: fit-content;
}
nav menu {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
nav menu .button {
	display: flex;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;

	font-size: 0.9rem;
	text-decoration: none;
}
nav menu .button:hover {
	color: var(--color-neutral-grey-600);
	transition: 0.1s ease-in-out;
}
/* -- Navbar - User --------------------------------------------------- */
.user-info {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.user-photo {
	width: 20px;
	height: 20px;
	border-radius: 100%;
}
.user-name {
	font-size: 0.7rem;
	color: var(--color-neutral-grey-600);
}
/* -- Navbar - Cart Icon --------------------------------------------------- */
.cart-icon {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	width: fit-content;
}
.cart-icon:hover {
	color: var(--color-ooa-monotone-2);
	transition: 0.1s ease-in-out;
}

.cart-badge {
	position: relative;
	/* right: -1.85rem;
	top: -0.35rem; */

	padding: 2px 6px;
	margin-right: 3px;

	background-color: var(--color-neutral-grey-900);
	color: var(--color-white);
	border-radius: 100%;

	font-size: 0.6rem;
	font-weight: 400;
	text-align: center;
}

/* -- Outlet --------------------------------------------------- */
