@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
:root {
	--color-accent: #ef5350;
	--color-white: white;
	--color-neutral-grey-200: #eeeeee;
	--color-neutral-grey-400: #bdbdbd;
	--color-neutral-grey-600: #757575;
	--color-neutral-grey-800: #424242;
	--color-neutral-grey-900: #212121;

	--color-ooa-monotone-1: #d6d8de;
	--color-ooa-monotone-2: #a2a5af;
	--color-ooa-monotone-3: #333740;
	--color-ooa-monotone-4: #1c1d20;
	--color-ooa-monotone-5: #0e0e0e;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;

	font-size: 1rem;
	color: var(--color-neutral-grey-900);
	background-color: var(--color-neutral-grey-200);
	overflow-x: hidden;
}

.main-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	min-width: 350px;
}
section[class$='__page-container'] {
	width: 100%;
	display: flex;
	flex-direction: column;
}
div[class$='sub-wrapper'] {
	width: 100%;
	display: flex;
	flex-direction: column;
}
a:link,
a:visited {
	color: var(--color-neutral-grey-900);
	text-decoration: none;
}
[class$='image__holder'] {
	width: 100%;
	aspect-ratio: 3/4;
	/* height: 250px; */
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
[class$='image__holder'] img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

/* -- Navbar --------------------------------------------------- */
nav.menu__container {
	width: 100%;
	display: flex;
	flex-direction: row;
	position: sticky;
	top: 0;

	justify-content: space-between;
	align-items: center;

	padding: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--color-neutral-grey-900);
	background-color: var(--color-neutral-grey-200);
}
nav.menu__container .logo {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 50px;
	object-fit: cover;
}
nav.menu__container .navbar-menu ul {
	display: flex;
	list-style-type: none;
}
/* -- Navbar - User --------------------------------------------------- */
nav.menu__container .user-info {
	display: flex;
	align-items: center;
	gap: 1rem;
}
nav.menu__container .user-photo {
	width: 20px;
	height: 20px;
	border-radius: 100%;
}
/* -- Navbar - Cart Icon --------------------------------------------------- */
nav.menu__container .cart-icon {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	width: fit-content;
}
nav.menu__container .cart-icon:hover {
	color: var(--color-ooa-monotone-2);
	transition: 0.1s ease-in-out;
}

nav.menu__container .cart-badge {
	position: relative;
	/* right: -1.85rem;
	top: -0.35rem; */

	padding: 2px 6px;
	margin-right: 3px;

	background-color: var(--color-neutral-grey-900);
	color: var(--color-white);
	border-radius: 100%;

	font-size: 0.6rem;
	font-weight: 400;
	text-align: center;
}

/* -- Navbar -side-nav --------------------------------------------------- */
.side-nav {
	height: 100vh;
	display: flex;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: var(--color-white);
	overflow-x: hidden;
	transition: 0.2s ease-in-out;
}
.side-nav ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	justify-content: space-between;
	list-style-type: none;
}
.side-nav ul li {
	padding: 1rem 0;
}
.sidemenu.close.button {
	display: flex;
	margin-left: auto;
	border: none;
	background-color: transparent;
}
.side-nav .button.special {
	font-size: 1rem;
	border: none;
	background-color: transparent;
}
/* -- Banner --------------------------------------------------- */
.landing-banner {
	width: 100%;
	display: flex;
	padding-bottom: 3rem;
}
.landing-banner img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: top;
}
/* -- Outlet --------------------------------------------------- */
.page-title {
	width: 100%;
	padding: 1rem 0 1.6rem 0;
	margin-bottom: 1rem;

	font-size: 1rem;

	text-transform: uppercase;
	text-align: left;
	font-weight: 400;
	border-bottom: 1px solid var(--color-neutral-grey-400);
}
/* -- Footer --------------------------------------------------- */
footer {
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--color-neutral-grey-900);
	left: 0;
	bottom: 0;
	padding: 2rem 1rem;
	margin-top: 2rem;
	background-color: var(--color-neutral-grey-900);
	color: var(--color-neutral-grey-400);
}
footer ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	list-style-type: none;
	font-size: 0.7rem;
	line-height: 150%;
}

/* ----- Media Queries ------------------------------------------- */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	footer ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 1.5rem;
	}
}

@media (min-width: 1400px) {
}
