.cart__page-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
}

.cart__page-container .item__container {
	width: 67%;
	display: flex;
	flex-direction: column;
}

.cart__page-container ul {
	width: 100%;

	display: flex;
	flex-direction: column;
}
/* -- CartItem ----------------------------------- */

.cart-item__container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	padding: 1rem 0;
	border-bottom: 1px solid var(--color-neutral-grey-400);
}
.cart-item__container .image__holder {
	width: 30%;
	display: flex;
	height: 200px;
}
.cart-item__container .image__holder img {
	width: 100%;
	object-fit: cover;
	object-position: top;
}
.cart-item__container .text__holder {
	width: 60%;
	display: flex;
}
.cart-item__container .text__holder .product-title {
	font-size: 1rem;
}
.cart-item__container .text__holder .quantity__holder {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.cart-item__container [class^='btn-'] {
	color: var(--color-neutral-grey-600);
	border: none;
}
.cart-item__container [class^='btn-']:hover {
	cursor: pointer;
	color: var(--color-neutral-grey-400);
	transition: 0.1s ease-in-out;
}

.cart-item__container .btn-delete {
	font-size: 1.3rem;
	font-weight: 200;
	align-items: flex-start;
}
/* .cart-item__container .btn-delete:hover {
	color: var(--color-neutral-grey-400);
	transition: 0.1s ease-in-out;
} */

/* -- Cart-summary-card ----------------------------------- */
.cart__page-container .cart-summary-card__container {
	width: 30%;
	display: flex;
	flex-direction: column;
}
.cart-summary-card__container .text__holder {
	width: 100%;
	padding-top: 1rem;
	color: var(--color-neutral-grey-600);
	line-height: 170%;
}
.cart-summary-card__container .total {
	border-top: 1px solid var(--color-neutral-grey-400);
	padding-top: 0.5rem;
	margin-top: 0.5rem;
	color: var(--color-neutral-grey-900);
	font-weight: 600;
}

.cart-summary-card__container button {
	width: 100%;
	border: 1px solid var(--color-neutral-grey-900);
	background-color: var(--color-neutral-grey-900);
	color: var(--color-white);
	padding: 0.5rem;
	margin: 1.5rem 0;
}
.cart-summary-card__container button:hover {
	opacity: 80%;
	transition: 0.1s ease-in-out;
}
/* ----- Media Queries ------------------------------------------- */

@media (max-width: 1200px) {
	.cart__page-container {
		display: flex;
		flex-direction: column;
	}
	.cart__page-container .item__container {
		width: 100%;
	}
	.cart__page-container .cart-summary-card__container {
		width: 100%;
		margin-top: 3rem;
	}
}
