.add-new-products__page-container .form__holder input {
	padding: 0.5rem;
	margin: 0.25rem 0 1.25rem 0;
	background-color: var(--color-white);
	border: none;
	/* border-bottom: 1px solid var(--color-neutral-grey-800); */
}
.add-new-products__page-container .preview-image__holder {
	overflow: visible;
}
/* .preview-image__holder {
	background-color: var(--color-neutral-grey-400);
} */
/* ----- Media Queries ------------------------------------------- */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
