.all-products__page-container ul {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}

/* -- Product Card ----------------------------------- */
.all-products__page-container ul li {
	width: 100%;
	overflow: hidden;
}
.all-products__page-container ul li:hover {
	cursor: pointer;
	opacity: 80%;
}
.all-products__page-container ul li .product-card {
	display: flex;
	flex-direction: column;
}
.all-products__page-container .text__holder {
	font-size: 0.9rem;
}
.all-products__page-container .text__holder .product-title {
	font-weight: 500;
	text-transform: capitalize;
}
.all-products__page-container .text__holder .category {
	font-size: 0.9rem;
	color: var(--color-neutral-grey-600);
}
.all-products__page-container .text__holder .price {
	padding: 1rem 0;
	font-weight: 500;
}

/* ----- Media Queries ------------------------------------------- */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.all-products__page-container ul {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
