.all-products__page-container {
	width: 100%;
}

.all-products__page-container ul {
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	gap: 0.5rem;
}

/* -- Product Card ----------------------------------- */
.all-products__page-container ul li {
	display: flex;
	width: calc(33.3% - 1rem);
	overflow: hidden;
}
.all-products__page-container ul li:hover {
	cursor: pointer;
	opacity: 90%;
	transition: 0.1s ease-in-out;
}
.all-products__page-container .image__holder {
	display: flex;
	/* w/o display, object-position of img didn't work */
	width: 100%;
	height: 400px;
	/* max-width: 400px; */
	overflow: hidden;
}
.all-products__page-container .image__holder img {
	object-fit: cover;
	/* object-position: 50% 1%; */
	object-position: top;
}
.all-products__page-container .text__holder {
	margin-top: 1rem;
}
.all-products__page-container .text__holder .product-title {
	font-size: 1rem;
}
/* ----- Media Queries ------------------------------------------- */

@media (max-width: 1200px) {
	.all-products__page-container ul li {
		display: flex;
		width: calc(50% - 1rem);
	}
}
