.all-products__page-container ul {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
}

/* -- Product Card ----------------------------------- */
/* .all-products__page-container ul li {
	flex: 1 1 calc(100% / 2 - 1rem); 
	max-width: calc(100% / 2 - 1rem);
} */
.all-products__page-container ul li {
	width: 100%;
	overflow: hidden;
}
.all-products__page-container ul li .product-card {
	display: flex;
	flex-direction: column;
}

/* ----- Media Queries ------------------------------------------- */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.all-products__page-container ul {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
